/* 
dark bg #1F2937
maintext 48px extra-bold #F9FAF8
sec text, link 18px #E5E7EB
headerlogo 24px #F9FAF8

button #3882F6

info header 36px extra-bold #1F2937

*/

* {
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
   /* border: 1px solid blue */
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.header {
    padding: 20px 0;
    width:900px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: flex-start;
}

.header-menu {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: flex-end;
}

.link {
    margin-left: 15px;
}


/* hero ----- */

.hero-container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.hero {
    margin: 80px 0;
    width: 900px;
    display: flex;
    justify-content: space-between

}



.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero span {
    
    font-size: 18px;
    color: #e5e7eb;
}

.hero button {
    color: #e5e7eb;
    border-radius: 5px;
    background-color: #3882F6;
    padding: 5px 20px 5px 20px;
    margin: 15px 0;
}

.hero-main {
    width:50%;

}

.img {
    font-size: 16px;
    color:white;
    background-color: gray;
    width:450px;
    height:200px;
    text-align: center;
   display: flex;
   justify-content: center;
    align-items: center;
}

/* info -------- */

.info-container {
    margin: 20px 0 80px 0;
    display: flex;
    justify-content: center;
}

.info {
    width: 900px;

}

.info-headline h2 {
    margin: 20px 0 40px 0;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}

.info-carousel {
    width: 900px;
    display: flex;
    justify-content: center;

}

.info-illu {
    
}

.illu {
    border: 2px solid #3882F6;
    border-radius: 5px;
    margin:auto;
    width: 150px;
    height: 150px;
}

.text {
    
    padding:15px 10px 0 10px;
    text-align: center;
    color: grey;
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote {
    margin: 80px 0;
    width:900px;
}

.quote span {
    color: #1f2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote p {
    text-align: right;
}

/* call to action ------- */

.action-container {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.action {
    width: 900px;
    display: flex;
    justify-content: center;

}

.action-box {
    color:#e5e7eb;
    border-radius: 5px;
    margin: 20px 0;
    padding: 40px 80px;
    width: 900px;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
}

.action-text {
    flex:1;
}

.action-button {
margin:auto;
}

/* footer ------- */

.footer-container {
    
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.footer {

    padding: 20px 0;
    color:#e5e7eb;
}